.App {
  /* text-align: center; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  display: none;
}


#dark {
  background-color: black;
  color: #868f96;
}

#light {
  /* background-color: rgb(255, 255, 255); */
  color: #3b444c;
}